.botao{
    position: absolute;
    background-color: #088A68;
    padding: 10px;
    border: 10px;
    width: 100px;
    height: 40px;
    left: 150px;
    
    color: white;
}

.botao:hover{
    background-color: #04B486;
    padding: 10px;
    border: 10px;
    width: 100px;
    height: 40px;
    color: white;
}

.botaoLimpar{
    background-color: #FF8000;
    color: white;
    width: 50px;
    height: 37px;
    font-size: 10px;
}

.botaoLimpar:hover{
    background-color: #EE5000;
    color: white;
}

input
{   
    position: relative;
    left: 25px;
    display: block;
    border: solid 1px;
    border-color: #CCC;
    border-radius: 2px;
    height: 40px;
    width: 250px;
    padding-top: 3px;
    outline: none;
    padding: 0px;
}

input::placeholder
{
    padding-left: 20px;
    padding-top: 10px;
}

.inputAlerta {
    color:  rgb(250, 9, 9);
}
.txtBoxValores{
    border-color: #CCC;
    height: 37px;
    border-width: 1px;
    border-radius: 4px;
}

.txtBoxVazio{
    border: solid 1px #FA5858;
    border-radius: 2px;
    border-spacing: -2px;
}

.txtBoxResult{
    height: 37px;
}

.div1{
    
    
    position: absolute;
    left: 40%;
    top: 25%;
    padding:50px;
    background:white;
    

}

.title1{
    position: absolute;

    top: 5%;
}
.background{
    background-image: url("../img/fundo.jpg");
    margin: 0px;
    padding:0px;
}

.centroTexto{
    text-align: center;
}

